:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /*  Default theme: macchiato */

    --color-rosewater: #f4dbd6;
    --color-flamingo: #f0c6c6;
    --color-pink: #f5bde6;
    --color-mauve: #c6a0f6;
    --color-red: #ed8796;
    --color-maroon: #ee99a0;
    --color-peach: #f5a97f;
    --color-yellow: #eed49f;
    --color-green: #a6da95;
    --color-teal: #8bd5ca;
    --color-sky: #91d7e3;
    --color-sapphire: #7dc4e4;
    --color-blue: #8aadf4;
    --color-lavender: #b7bdf8;
    --color-accent: #b7bdf8;
    --color-text: #cad3f5;
    --color-subtext1: #b8c0e0;
    --color-subtext0: #a5adcb;
    --color-overlay2: #939ab7;
    --color-overlay1: #8087a2;
    --color-overlay0: #6e738d;
    --color-surface2: #5b6078;
    --color-surface1: #494d64;
    --color-surface0: #363a4f;
    --color-base: #24273a;
    --color-mantle: #1e2030;
    --color-crust: #181926;

}

* {
    transition-property: background-color, color, border-color, fill, stroke;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

body {
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

/*scrollbar*/
::-webkit-scrollbar {
    background-color: var(--color-crust);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-mantle);

    border: 1px dotted var(--color-base);
}


.app {
    width: 100vw;
}